extends layout

block content
	.container
		if submissions1.length >= 4 && submissions2.length >= 4
			h1 We're sorry, but the maximum number of videos has been reached for this submission cycle.
		else
			form(method="post" action="/formsubmit" role="form")
				.form-group
				label(for="") Name
				input#name.form-control(type="text" name="name")
				.form-group
				label(for="") YouTube URL
				input#url.form-control(type="text" name="url")
				.form-group
				label(for="") Video Title
				input#title.form-control(type="text" name="title")
				.form-group
				label(for="") Video Description
				textarea#description.form-control(type="text" name="description")
				input(type="submit")